button {
    border:none;
    width: 100%;
    background-color: #ccc;
    color: black;
    border-radius: 5px;
}

#fale-conosco {
    padding: 60px 0;
    background-color: #f8f9fa;
}

#nossos-filmes {
    background-color: #ced4da;
}

textarea {
    resize: none;
}

#navbar {
    display: flex;
    flex-direction: end;
}